services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: ./api/Dockerfile
    ports:
      - '${API_PORT:-8080}:${API_PORT:-8080}'
    env_file:
      - ./.env
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  caddy:
    container_name: caddy
    build:
      context: ./
      dockerfile: ./caddy/Dockerfile
    environment:
      DOMAIN: '${DOMAIN}'
      API_PORT: '${API_PORT:-8080}'
      CLOUDFLARE_API_TOKEN: '${CLOUDFLARE_API_TOKEN}'
      CLOUDFLARE_EMAIL: '${CLOUDFLARE_EMAIL}' 
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    env_file:
      - ./.env
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/site:/srv
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      api:
        condition: service_started

volumes:
  caddy_data:
  caddy_config: