services:
  api:
    container_name: api
    build:
      context: .
      dockerfile: ./api/Dockerfile
    ports:
      - '${API_PORT:-8080}:${API_PORT:-8080}'
    env_file:
      - ./.env
    restart: unless-stopped